@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'IBM Plex Sans', sans-serif;
}
.textMono{
  font-family: 'IBM Plex Mono', monospace;
}
.characters {
    list-style: none;
    padding-left: 0;
  }
  
  .characters li {
    display: flex;
    align-items: center;
    border: solid 2px #d0d0d0;
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
  }
  
  .characters p {
    max-width: none;
    font-weight: bold;
    margin: 0;
  }
  
  .characters-thumb {
    overflow: hidden;
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    background-color: #e8e8e8;
    padding: .5em;
    margin-right: .5em;
  }
  
  .characters-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }